*.o
*.a
*.log
*.elc
*~
*#

config.status

/info/*
lib-src/config.values
GNUmakefile
Installation
Makefile.in
version.sh
lisp/finder-inf.el
lwlib/config.h
src/config.h
src/Emacs.ad.h
src/xemacs.def
src/sheap-adjust.h
src/paths.h
src/xemacs.def.in
src/.gdbinit.in
src/.gdbinit
src/.dbxrc
Makefile

/build-cmake/*
/build-configure/*
/build/*
.trae/documents/